<template>
  <div>
    <v-app-bar color="primary" app clipped-left flat style="z-index: 9999">
      <v-app-bar-nav-icon
        class="white--text"
        @click="changeSideBarSize"
      ></v-app-bar-nav-icon>

      <v-toolbar-title>
        <router-link to="/" style="text-decoration: none; color: grey">
          <span class="font-weight-light white--text">Dáme</span>
          <span class="warning--text">Burger</span>
        </router-link>
      </v-toolbar-title>

      <v-spacer></v-spacer>

      <app-logout class="white--text"></app-logout>
    </v-app-bar>
  </div>
</template>

<script>
import LogoutBtn from "@/components/common/LogoutBtn.vue"

export default {
  components: {
      appLogout: LogoutBtn,
  },
  methods: {
    changeSideBarSize() {
      this.$emit("changeSideBarSize");
    }
  }
};
</script>

<style lang="scss" scoped></style>
