<template>
  <nav>
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant.sync="miniModel"
      clipped
      permanent
      :class="{ 'append-top': sidePanelTemporary }"
      :temporary="sidePanelTemporary"
      app
    >
      <v-list dense>
        <v-list-item-group color="primary">
          <v-list-item link :to="orderRoute.url">
            <v-list-item-icon>
              <v-icon>{{ orderRoute.icon }}</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>{{ orderRoute.title }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>

        <v-list-group
        :value="false"
        prepend-icon="mdi-food-takeout-box-outline"
        no-action
      >
        <template v-slot:activator>
          <v-list-item-title>Produkty</v-list-item-title>
        </template>

          <v-list-item
            v-for="({title, icon, url}) in foodManageRoutes"
            :key="title"
            link
            :to="url"
          >
            <v-list-item-title>{{ title }}</v-list-item-title>

            <v-list-item-icon>
              <v-icon >{{ icon }}</v-icon>
            </v-list-item-icon>
          </v-list-item>

      </v-list-group>
      </v-list>

      <template v-slot:append>
        <app-logout v-if="!mini" class="primary--text" block></app-logout>
      </template>
    </v-navigation-drawer>
  </nav>
</template>

<script>
import {orderRoute, foodManageRoutes} from "@/common/LoggedSideBarItems"
import LogoutBtn from "@/components/common/LogoutBtn.vue"

export default {
  components: {
    appLogout: LogoutBtn,
  },
  props: {
    mini: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      drawer: false,
      orderRoute: orderRoute,
      foodManageRoutes: foodManageRoutes,
    };
  },
  computed: {
    miniModel: {
      get() {
        return this.mini;
      },
      set(value) {
        this.$emit("changeSideBarSize", value);
      }
    },
    sidePanelTemporary() {
      return this.miniByBreakPoint && !this.miniModel;
    },
    miniByBreakPoint() {
      return this.$vuetify.breakpoint.smAndDown;
    },
  },
  watch: {
    miniByBreakPoint() {
      this.$emit("changeSideBarSize", this.miniByBreakPoint);
    }
  }
};
</script>

<style lang="scss" scoped>
.append-top {
  margin-top: 56px;
}
</style>
