<template>
    <v-overlay
      absolute
      :opacity="0.5"
      :value="loading"
      color="grey lighten-4"
    >
      <v-progress-circular
        :width="3"
        size="60"
        color="primary"
        indeterminate
      ></v-progress-circular>
    </v-overlay>
</template>

<script>
export default {
  props: {
    loading: {
      type: Boolean,
      default: false
    },
  },
};
</script>
