<template>
  <v-btn text small @click="logout" :block="block">
    Logout
    <v-icon small right>mdi-logout</v-icon>
  </v-btn>
</template>

<script>
export default {
  props: {
    block: {
      type: Boolean,
      default: false
    },
  },
  methods: {
    logout() {
      this.$store.dispatch("logout");
    }
  }
};
</script>
