<template>
    <h1 class="primary--text font-weight-light mb-5" v-text="text"></h1>
</template>

<script>
export default {
  props: {
    text: {
      type: String,
      require: true
    },
  },
};
</script>
