<template>
  <component :is="layout"></component>
</template>

<script>
const DEFAULT_LAYOUT = "logged";
const LAYOUT_POSTFIX = "-layout";

export default {
  computed: {
    layout() {
      return (this.$route.meta.layout || DEFAULT_LAYOUT) + LAYOUT_POSTFIX;
    }
  }
};
</script>
