<template>
  <v-app>
    <app-top-bar @changeSideBarSize="mini = !mini"></app-top-bar>
    <app-side-bar
      :mini="mini"
      @changeSideBarSize="mini = $event"
    ></app-side-bar>
    <v-content class="ma-4">
      <router-view></router-view>
    </v-content>
  </v-app>
</template>

<script>
import SideBar from "../components/bars/LoggedSideBar.vue"
import TopBar from "../components/bars/LoggedTopBar.vue";

export default {
  components: {
    appSideBar: SideBar,
    appTopBar: TopBar
  },
  data() {
    return {
      mini: false
    };
  }
};
</script>
