<template>
  <v-row justify="center">
    <v-card class="text-center mt-5" min-width="30%">
      <v-card-title class="text-uppercase grey--text mt-5">
        <div class="ma-auto">
          <span class="font-weight-light primary--text">Dáme - Administrace</span>
        </div>
      </v-card-title>
      <v-card-subtitle>Login</v-card-subtitle>
      <v-spacer></v-spacer>
      <v-card-text class="mt-5 pa-8 pb-0">
        <v-form ref="form" class="mt-5 px-3">
          <v-text-field
            v-model="login.username"
            label="Username"
            :rules="usernameRules"
            prepend-icon="mdi-account"
          ></v-text-field>
          <v-text-field
            v-model="login.password"
            prepend-icon="mdi-lock"
            :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
            :type="show ? 'text' : 'password'"
            label="Password"
            :rules="passwordRules"
            @click:append="show = !show"
            @keyup.enter="submit()"
          ></v-text-field>

          <v-btn
            text
            class="primary mx-0 mt-9 mb-3"
            :loading="loading"
            @click="submit()"
            >Sign in</v-btn
          >
        </v-form>
      </v-card-text>
    </v-card>
  </v-row>
</template>

<script>
export default {
  name: 'LoginView',
  data() {
    return {
      login: {
        username: null,
        password: null,
      },
      loading: false,
      show: false,
      usernameRules: [(v) => !!v || "Username is required"],
      passwordRules: [(v) => !!v || "Password is required"],
    };
  },
  methods: {
    submit() {
      if (!this.$refs.form.validate()) return;

      this.loading = true;
      this.$store
        .dispatch("login", this.login)
        .then(() => {
          this.loading = false;
          this.$router.push("/");
        })
        .catch(err => {
          console.log(err);
          this.loading = false;
        });
    },
  },
};
</script>
