<template>
  <div class="home">
    <app-header text="Správa Jídla"></app-header>
    <v-card elevation="0.5">
      <v-card-title>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table
        :headers="headers"
        :items="getAllFoods"
        :search="search"
        no-data-text="Nenalezena žádná jídla"
        no-results-text="Nenalezena žádná jídla"
      >
      <template v-slot:top>
        <v-toolbar
          flat
        >
          <v-toolbar-title>Jídla</v-toolbar-title>
          <v-divider
            class="mx-4"
            inset
            vertical
          ></v-divider>
          <v-spacer></v-spacer>
          <v-dialog
            v-model="dialog"
            max-width="500px"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                color="primary"
                dark
                class="mb-2"
                v-bind="attrs"
                v-on="on"
              >
                Přidat jídlo
              </v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="text-h5">{{ formTitle }}</span>
              </v-card-title>

              <v-card-text>
                <v-container>
                  <v-row>
                    <v-col
                      cols="12"
                      sm="6"
                      md="4"
                    >
                      <v-text-field
                        v-model="editedItem.name"
                        label="Food name"
                      ></v-text-field>
                    </v-col>
                    <v-col
                      cols="12"
                      sm="6"
                      md="4"
                    >
                      <v-text-field
                        v-model="editedItem.description"
                        label="Popis"
                      ></v-text-field>
                    </v-col>
                    <v-col
                      cols="12"
                      sm="6"
                      md="4"
                    >
                      <v-text-field
                        v-model="editedItem.price"
                        label="Cena"
                      ></v-text-field>
                    </v-col>
                    <v-col
                      cols="12"
                    >
                      <v-select 
                      v-model="editedItem.ingredients"
                      :items="getAllIngredients"
                      label="Ingredience"
                      item-text="name"
                      item-value="id"
                      multiple
                      >
                      </v-select>
                    </v-col>
                    <v-col
                      v-if="editedIndex === -1"
                      cols="12"
                    >
                       <v-file-input
                        v-on:change="onFileChange"
                        accept="image/*"
                        type="file"
                        placeholder="Vyberte obrázek jídla"
                        prepend-icon="mdi-food"
                        label="Obrázek jídla"
                      ></v-file-input>
                    </v-col>   
                  </v-row>
                </v-container>
              </v-card-text>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  color="blue darken-1"
                  text
                  @click="close"
                >
                  Zrušit
                </v-btn>
                <v-btn
                  color="blue darken-1"
                  text
                  @click="save"
                >
                  Uložit
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="text-h5">Are you sure you want to delete this item?</v-card-title>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
                <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:[`item.actions`]="{ item }">
        <v-icon
          small
          class="mr-2"
          @click="editItem(item)"
        >
          mdi-pencil
        </v-icon>
        <v-icon
          small
          @click="deleteItem(item)"
        >
          mdi-delete
        </v-icon>
      </template>
      </v-data-table>
    </v-card>
    <app-loading :loading="pageLoading"></app-loading>
  </div>
</template>

<script>
import PageHeader from "@/components/common/PageHeader.vue"
import AppLoading from "@/components/common/AppLoadingOverlay.vue"

import { mapGetters } from "vuex";

export default {
  name: 'EditFoodView',
  components: {
    appHeader: PageHeader,
    appLoading: AppLoading,
  },
  data() {
    return {
      search: "",
      dialog: false,
      dialogDelete: false,
      pageLoading: false,
      headers: [
          {
            text: 'Název',
            align: 'start',
            value: 'name',
          },
          {
            text: 'Popis',
            align: 'start',
            value: 'description',
          },
          { 
            text: 'Cena',
            align: 'end',
            value: 'price' 
          },
          { 
            text: 'Actions',
            value: 'actions',
            align: 'end',
            sortable: false 
            },
        ],
      editedIndex: -1,
      editedItem: {
          foodId: 0,
          name: '',
          description: "",
          price: 0,
          image: "",
        },
      defaultItem: {
          foodId: 0,
          name: '',
          description: "",
          price: 0,
          image: "",
        },
      }
    },

    computed: {
      ...mapGetters([
        "getAllFoods",
        "getAllIngredients",
      ]),
      formTitle () {
        return this.editedIndex === -1 ? 'Nové jídlo' : 'Úprava Jídla'
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
      dialogDelete (val) {
        val || this.closeDelete()
      },
    },
    methods: {
      editItem (item) {
        this.editedIndex = this.getAllFoods.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },

      deleteItem (item) {
        this.editedIndex = this.getAllFoods.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialogDelete = true
      },

      deleteItemConfirm () {
        this.getAllFoods.splice(this.editedIndex, 1)
        this.closeDelete()
      },

      close () {
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      closeDelete () {
        this.dialogDelete = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },
      save () {
        const method = this.editedIndex > -1 ? "updateFood" : "saveNewFood";
        this.$store.dispatch(method, this.editedItem)
          .then(() => {
            if (this.editedIndex > -1) {
              Object.assign(this.getAllFoods[this.editedIndex], this.editedItem)
            } else {
              this.getAllFoods.push(this.editedItem)
            }
            this.close()
          })
      },
      onFileChange(file) {
        this.editedItem.image = file;
      },
      createImage(file) {
        var reader = new FileReader();
        var vm = this;

        reader.onload = e => {
          vm.editedItem.image = e.target.result;
        };

        reader.readAsDataURL(file);
      },
    },
    created() {
      this.pageLoading = true;

      Promise.all([this.$store.dispatch("loadAllFoods"), this.$store.dispatch("loadAllIngredients")])
      .then(() => {
        this.pageLoading = false;
      })
      
      
    },
}
</script>