<template>
  <div class="manageOrders">
    <v-container>
      <app-header text="Správa objednávek"></app-header>
      <v-expansion-panels v-if="getOrderList && getOrderList.length > 0">
        <v-expansion-panel
          v-for="o in getOrderList"
          :key="o.id"
        >
              <v-expansion-panel-header :disable-icon-rotate="isOrderCancelled(o) || isOrderTakenover(o)" >
                <v-row no-gutters>
                  <v-col cols="4" class="d-flex align-center">
                    <h4>
                    Objednávka #{{ o.id }}
                    </h4>
                  </v-col>
                  <v-col
                    cols="6"
                    class="text--secondary"
                  >
                      <v-chip
                        small
                        :color="computeColorByStatus(o.status)"
                        pill
                        class="mr-1"
                      >
                        {{ o.status }}
                      </v-chip>

                      <v-tooltip top v-if="o.paidAt">
                      <template v-slot:activator="{ on, attrs }">
                        <v-chip
                        small
                        color="primary"
                        pill
                        v-bind="attrs"
                        v-on="on"
                        >
                        Zaplaceno
                        </v-chip> 
                      </template>
                      <span>Datum platby: {{  formatPaidDate(o.paidAt) }}</span>
                    </v-tooltip>
                  </v-col>
                  <v-col cols="2" class="d-flex align-center justify-end">
                    {{ formatDate(o.createdAt) }}   
                  </v-col>
                </v-row>
                <template v-slot:actions v-if="isOrderCancelled(o)">
                  <v-icon color="error">
                    mdi-alert-circle
                  </v-icon>
                </template>
                <template v-slot:actions v-else-if="isOrderTakenover(o)">
                  <v-icon color="success">
                    mdi-check-circle
                  </v-icon>
                </template>
              </v-expansion-panel-header>

              <v-expansion-panel-content>
                <v-row no-gutters justify="space-between">
                  <v-col cols="7">
                    
                    <v-data-table
                      hide-default-header
                      hide-default-footer
                      :headers="headers"
                      :items="o.orderedFoods"
                      item-key="id"
                      show-expand
                    >
                      <template v-slot:expanded-item="{ headers, item }">
                        <td
                         :colspan="headers.length"
                        >
                          <v-row
                            v-for="i in item.ingredients"
                            :key="`${item.id}` + 'in' + `${i.id}`"
                            justify="space-between"
                          >
                            <v-col>{{ i.name }}</v-col>
                            <v-col>{{ i.price }}</v-col>
                          </v-row>
                        </td>
                      </template>
                    </v-data-table>
                    <b>Finální cena: {{ o.finalPrice }}</b>
                  </v-col>
                  <v-col cols="1">
                  <v-divider
                    vertical
                    class="mx-4"
                  ></v-divider>
                  </v-col>
                  <v-col cols="4">
                    <v-row>
                      <v-select
                        v-model="o.status"
                        :items="orderStatuses"
                        flat
                      ></v-select>
                      <v-card-actions>
                        <v-btn
                          right
                          text
                          @click="() => submitOrder(o)"
                          :loading="loading"
                          color="primary"
                        >
                          Save
                        </v-btn>
                      </v-card-actions>
                    </v-row>
                  </v-col>
                </v-row>
              </v-expansion-panel-content>
            </v-expansion-panel>
      </v-expansion-panels>
     <v-row
      v-if="getOrderList.length < 1"
      class="fill-height"
      align="center"
      justify="center"
    >
      <b class="grey--text">Nemáme žádné objednávky :(</b>
    </v-row>
    </v-container>
    <app-loading :loading="!isOrderListRefreshed"></app-loading>
  </div>
</template>

<script>
import moment from "moment"
import { mapGetters } from "vuex";

import PageHeader from "@/components/common/PageHeader.vue"
import AppLoadingOverlay from "@/components/common/AppLoadingOverlay.vue"
import {allOrderStatuses, ORDER_STATUS} from "@/domain/OrderDomain"

export default {
  name: 'ManageOrdersView',
  components: {
    appHeader: PageHeader,
    appLoading: AppLoadingOverlay,
  },
  data() {
    return {
      loading: false,
      headers: [
          {
            text: 'Název',
            align: 'start',
            value: 'food.name',
          },
          {
            text: 'Cena',
            align: "end",
            value: 'food.price' 
          },
          {
            text: '',
            align: "end",
            value: 'data-table-expand'
          },
        ],
    }
  },
  computed: {
    ...mapGetters([
      "getOrderList",
    ]),
    orderStatuses() {
      return allOrderStatuses;
    },
    isOrderListRefreshed() {
      return this.$store.state.foodOrder.ordersRefreshed;
    },
  },
  methods: {
    submitOrder(order) {
      this.loading = true;
      this.$store
        .dispatch("updateOrderStatus", order)
        .then(() => {
          this.loading = false;
        })
        .catch(err => {
          console.log(err);
          this.loading = false;
        });
    },
    formatDate(dateStr) {
      const date = new Date(dateStr);

      if (!moment(Date.now()).isSame(date, "day"))
        return moment(date).format("DD. MM. YYYY");

      return moment(date).startOf('minute').fromNow();
    },
    formatPaidDate(date) {
      return moment(date).format("DD. MM. YYYY");
    },
    isOrderCancelled(order) {
      return order.status == ORDER_STATUS.CANCELLED;
    },
    isOrderTakenover(order) {
      return order.status == ORDER_STATUS.TAKENOVER;
    },
    computeColorByStatus(status) {
        switch (status) { 
            case ORDER_STATUS.CANCELLED:
                return "error";
            case ORDER_STATUS.TAKENOVER:
                return "success";
            default:
                return "grey lighten-2";
        }
    }
  },
  created() {
    this.$store.dispatch("loadOrders");
  },
}
</script>
